*,
*::before,
*::after {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

#hd {
    display: inline;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    text-decoration: rgb(48, 2, 44);
    text-emphasis: red;
    font-size: 3rem;
    left: 30%;
    top: -1em;
    color: #FFFFFF;
    text-decoration: underline;
    background-attachment: fixed;
    font-family: var(--fovorite-font);
}

:root {
    --accent-color: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    ;
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family: 'Lato', sans-serif;
    --fovorite-font: 'Sansita Swashed', cursive;
}

body {
    margin: 0;
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font-family);
    overflow: hidden;
}

.price-comparison {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 1rem;
}

.jumbotron {
    position: relative;
    height: 80vh;
    width: 60vw;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, .4);
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: screen;
}

.jumbotron section:nth-child(1) {
    border-radius: .2em;
}

.price-column {
    background-color: white;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
    padding: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 275px;
    border-radius: 8px;
}

.price-column.popular {
    position: relative;
    background-image: var(--accent-color);
    color: white;
    margin-top: -1.5rem;
    padding-top: 3.5rem;
    margin-bottom: -1.5rem;
    padding-bottom: 3.5rem;
    box-shadow: 12px 12px 12px rgba(250, 86, 80, 0.4);
}

.price-column:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
}

.price-column:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
}

.price-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

.price {
    color: rgb(37, 36, 36);
    font-size: 3.5rem;
    display: flex;
}

.dollar-sign {
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-right: .25rem;
    opacity: .6;
    color: rgb(7, 7, 7);
}

.per-month {
    font-size: .75rem;
    align-self: flex-end;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
    color: rgb(17, 17, 17);
}

.plan-name {
    text-transform: uppercase;
    font-size: .9rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: rgba(252, 11, 11, 0.2);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.price-column.popular .divider {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, .2);
}

.feature {
    display: flex;
    align-items: center;
    margin: .5rem;
}

.feature img {
    height: 1.1em;
    width: 1.1em;
    margin-right: .5rem;
}

.feature.inactive {
    color: rgb(236, 97, 97);
    font-style: italic;
    text-decoration-line: line-through;
}

.most-popular {
    position: absolute;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--heading-font-family);
}

.cta {
    border: none;
    background-image: var(--accent-color);
    color: #FFFFFF;
    width: 100%;
    padding: .75rem 1rem;
    cursor: pointer;
    font-family: var(--fovorite-font);
    font-weight: bold;
    border-radius: 4px;
    margin-top: 3rem;
    transition: 100ms;
    transform: scale(1);
    box-shadow: 3px 3px 15px rgb(0, 0, 0, .4);
}

.price-column.popular .cta {
    background-color: white;
    color: var(--accent-color);
    box-shadow: 2px 2px 12px rgb(0, 0, 0, .12);
}

.cta:hover,
.cta:focus {
    transform: scale(1.2);
}

.feature:hover {
    background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
    border-radius: 1em;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
    font: 200;
    font-family: var(--fovorite-font);
}

.popular .feature:hover {
    background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
    border-radius: 1em;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, .4);
    font-family: var(--fovorite-font);
    color: black;
}

@media(max-width: 954px) {
    .jumbotron {
        position: relative;
        width: 100vw;
    }
    .price-comparison {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100vw;
        overflow: hidden;
    }
}